
.title-panda{
  margin-left: 25%;
  display: block;
}
.panda-icon{
  height:160px;
  width: 160px;
  float: left;
  display: inline-block;
  float: left;
  margin-top: 10%;
}
.name{
  float: left;
  color: white;
  font-size: 10em;
  display: inline-block;
}
.icons{
  display: inline-block;
  margin-left: 10%;
  margin-top: 0;
  /*background-color: white;*/
}
.icons:visited{
  color: white;
}

.fa-github {
  margin-left: 150px;
  text-align: center;

}
.fa-home{
  margin-left: 150px;
  text-align: center;
}
.fa-map{
  margin-left: 150px;
  text-align: center;
}
.fa-address-book {
  margin-left: 150px;
  text-align: center;
}

#main{
  text-align: center;
  margin-bottom: 60px;
}

#map{
  margin-left: 10%;
  border: 10px solid white;
  margin-bottom: 20px;
}

.event {
  width: 70%;
  margin: auto;
  border-radius: 3px;
  background: rgba(200, 200, 200, .7);
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px #666;
  color: #222;
}
