<<<<<<< HEAD
.fa-github {
  float:right;

}
.fa-home{
  float:right;
}
.fa-map{
  float:right;
}
.fa-address-book {
  float:right;
}
=======
/*#map {
  display: none;
}*/
>>>>>>> ca563b34392da5d9030f0d669e0dce460ed32b07
