
.title-panda{
  margin-left: 40%;
  display: block;
}
.panda-icon{
  height:80px;
  width: 80px;
  float: left;
  display: inline-block;
  float: left;
  margin-top: 7%;
}
.name{
  float: left;
  color: white;
  font-size: 5em;
  display: inline-block;
}
.icons{
  background-color: white;
  display: block;
  margin-top: 10px;
}

.fa-github {
  float:right;
  margin-left: 150px;
  text-align: center;

}
.fa-home{
  float:right;
  margin-left: 150px;
  text-align: center;
}
.fa-map{
  float:right;
  margin-left: 150px;
  text-align: center;
}
.fa-address-book {
  float:right;
  margin-left: 150px;
  text-align: center;
}

#main{
  text-align: center;
  margin-bottom: 60px;
}

#map{
  margin-left: 10%;
}

.event {
  width: 70%;
  margin: auto;
  border-radius: 3px;
  background: rgba(200, 200, 200, .7);
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px #666;
  color: #222;
}
